.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 200px;
}

input{
    height: 24px;
    margin: 5px;
    width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }  